//- seo.jade
//- BASIC INFORMATION
title 網站預設名稱
meta(name="keywords", content="關鍵字")
meta(name="description", content="敘述")

//- IMAGES
link(rel="image_src", href="http://66.media.tumblr.com/avatar_bdf9468f5191_128.png")
link(rel="icon", type="image/png", href="http://66.media.tumblr.com/avatar_bdf9468f5191_128.png", sizes="128x128")

//- OPEN GRAPHIC
meta(property="fb:app_id", content="562596353903372")
meta(property="og:image", content="https://taipeiomg.bhuntr.com/images/ogimage313.png")
meta(property="og:image:width", content="1200")
meta(property="og:image:height", content="630")
meta(property="og:title", content="名稱")
meta(property="og:type", content="website")
meta(property="og:site_name", content="名稱")
meta(property="og:description", content="敘述")