doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="A starter repo for Gulp, Jade, Sass, and jQuery")
    title Gulp | Jade | Sass | jQuery
    //- link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='main.css')
    //- link(rel="icon", type="image/png", href="assets/favicon32.png", sizes="32x32")
    //- link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    h1 gulp-jade-sass-jquery-starter
    script(src='lib/build.js')
    script(src='main.js')
